@model IEnumerable<WebCSharp.Models.EntityFrameWork.Brand>

@if (Model != null && Model.Any())
{

    foreach (var item in Model)
    {

        
            <div class="col-md-4">
                <div class="banner_item align-items-center" style="background-image:url(@item.Image)">
                    <div class="banner_category">
                        <a href="@item.Slug">@item.Name</a>
                    </div>
                </div>
            </div>
     
    }
}
