@model IEnumerable<WebCSharp.Models.EntityFrameWork.Category>
@if (Model != null && Model.Any())
{
    
    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title">
                <h2>New Arrivals</h2>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col text-center">
            <div class="new_arrivals_sorting">
                <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                    @foreach (var item in Model)
                    {
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter=".@item.Name">@item.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
                @Html.Action("Partial_ItemsByCateId","Products")
       
                @*<div class="product-item men">
                    <div class="product product_filter">
                        <div class="product_image">
                            <img src="images/product_10.png" alt="">
                        </div>
                        <div class="favorite"></div>
                        <div class="product_info">
                            <h6 class="product_name"><a href="single.html">Pryma Headphones, Rose Gold & Grey</a></h6>
                            <div class="product_price">$180.00</div>
                        </div>
                    </div>
                    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                </div>*@
            </div>
        </div>
    </div>
}
