    <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
           <img src="~/Content/image/logo.webp" alt="" srcset="">
            <img src="" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">NGUYỄN THUẬN PHÁT</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        SẢN PHẨM
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/products" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tất cả sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/productsale" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quản lý sale</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/productstore" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Quản lý nhập hàng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/products" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tất cả sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/brand" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thương hiệu</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/category" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh mục</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Trang người dùng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/contact" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tất cả liên hệ</p>
                        </a>
                    </li>


                </ul>
            <li class="nav-item">
                <a href="/admin/slider" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Slider</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/config" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Cấu hình website</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/menu" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Menu trang người dùng</p>
                </a>
            </li>


        </ul>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        BÀI VIẾT
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/post" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tất cả bài viết</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/topic" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Chủ đề bài viết</p>
                        </a>
                    </li>
                    
                </ul>
            </li>
        </ul>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Đơn hàng
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/order" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tất cả đơn hàng</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/orderdetail" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Chi tiết đơn hàng</p>
                        </a>
                    </li>
                    
                </ul>
            </li>
        </ul>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Thành viên
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/user" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tất cả thành viên</p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a href="/admin/topic" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tất cả khách hàng</p>
                        </a>
                    </li>*@


                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin/logout" class="nav-link btn btn-danger">
                    <i class="fa-solid fa-backward"></i>
                    <p>Đăng xuất</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->